- topic ||= nil

= link_to question_path(question) do
  .card.mb-2

    .card-body
      %h5.card-title.question_title
        = question.body
      %span.txt-sm #{question.views} views
      %p
        = render question.topics
      %p.card-text.mb-2.txt-sm
        Asked by #{question.user.name}, #{question.user.work} on #{format_date(question.created_at)}
        %br/
        - unless question.answers.blank?
          %span.text-muted First answered on #{format_date(question.answers.first.created_at)}
          %p.card-text= question.answers.first.short_version
        - else
          %p.card-text No answer for this question yet.

      - if topic
        %span.badge.badge-primary.badge-pill Because you are interested in #{topic.name} <br>