.container.py-3
  .row
    .col-7
      %p
        = render @question.topics
      %h4.mb-3= @question.body
      .dropdown
        %button.btn.btn-secondary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"} Answer
        .dropdown-menu.col-12.my-2
          = form_tag("/questions/#{@question.id}/answers", method: :post, class: "px-2") do
            .form-group
              = label_tag 'answer[body]', 'Write your answer'
              = text_area_tag 'answer[body]', nil, rows: 6, class: 'form-control'
              .dropdown-divider
              = submit_tag "Submit Answer", class: 'btn btn-success'
      %hr/
      %h5= pluralize(@question.answers.size, "Answer")
      %hr/
      - if @question.answers.blank?
        %div
          %p Be the first to answer this question.
      - else
        = render @question.answers
    .col-3
      %h5 Related Questions
      %hr/
      %ul
        - if @related_questions.blank?
          No questions related to this topic currently.
        - else
          - @related_questions.each do |question|
            %li.mb-3
              = link_to question.body, question_path(question)